
<app-header></app-header>


  <div style="width:60%; margin:0 auto; padding-top: 50px; padding-bottom: 70px;">
    <h1>
      Hospital Registration Form 
    </h1>
</div>

<div style="width:60%; margin:0 auto;">
    <form>
        <h5>Login Details (Mandatory)</h5> <br/>
        <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationServer01">Name</label>
              <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationServer02">Address</label>
              <input type="textarea" class="form-control is-valid" id="validationServer02" value="Otto" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationServer01">Contact No</label>
              <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationServer02">Fax No</label>
              <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationServer01">Hospital Reg No</label>
              <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
        
          <br/> 
          <h5>Select Components</h5> <br/>
          <div class="form-row">
            <div class="col-md-3 mb-3">
                <div class="gallery-card">
                    <div class="gallery-card-body">
                    <label class="block-check">
                     <img src="https://images.pexels.com/photos/972804/pexels-photo-972804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-responsive" />
                     <input type="checkbox" >
                      <span class="checkmark"></span>
                      </label>
                       <div class="mycard-footer">
                         <p> PMIC</p>
                       </div>
                    </div>
                    </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="gallery-card">
                    <div class="gallery-card-body">
                    <label class="block-check">
                     <img src="https://images.pexels.com/photos/972804/pexels-photo-972804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-responsive" />
                     <input type="checkbox" >
                      <span class="checkmark"></span>
                      </label>
                       <div class="mycard-footer">
                        <p> Analysis</p>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="gallery-card">
                    <div class="gallery-card-body">
                    <label class="block-check">
                     <img src="https://images.pexels.com/photos/972804/pexels-photo-972804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-responsive" />
                     <input type="checkbox" >
                      <span class="checkmark"></span>
                      </label>
                       <div class="mycard-footer">
                        <p>Drug Management</p>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="gallery-card">
                    <div class="gallery-card-body">
                    <label class="block-check">
                     <img src="https://images.pexels.com/photos/972804/pexels-photo-972804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-responsive" />
                     <input type="checkbox" >
                      <span class="checkmark"></span>
                      </label>
                       <div class="mycard-footer">
                        <p>Other</p>
                        </div>
                    </div>
                    </div>
            </div>
          </div>  
          
        <br>
        <br>
        <h5>User Agreement</h5> <br/>
        <p>
            I understand that therapeutic massage therapists do not diagnose illness, disease, any physical or mental disorder, nor do they prescribe medical treatment, pharmaceuticals, or perform joint mobilization. 
            I acknowledge that massage therapy is not a substitute for medical examination or diagnosis, and it is recommended that a physician be seen for that service. 
            It is my choice to receive therapeutic massage as a form of therapy. 
            I understand that treatment given is designed to address the care and prevention of myofascial pain and dysfunction. 
            I also undersand that at any time I feel pain or discomfort during the session, I will immediately inform my therapeutic massage therapist so they adjust.  
            I have stated my pertinent medical conditions, and will update the massage therapist of any changes in my health status. 
            I understand that my failure to do so may post a threat to my health and/physical well being and I hold harmless Pure Touch Therapy and my therapeutic massage therapist from any liability whatsoever arising from failure on my part. 
            By my electronic signature below, I agree to the massage policy and client agreement above.  
        </p>  
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
            <label class="form-check-label" for="invalidCheck3">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Register User</button>
      </form>
</div>

<app-footer></app-footer>
