<app-header></app-header>
<div class="container-fluid" style="margin-top: 5%;">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <a routerLink="user" class="btn btn-primary">
        <img class="card-img-top" src="assets/images/banner/patient-banner.jpg" alt="User - Register">
        <div class="card-body">
          <h5 class="card-title">User Registration</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a routerLink="doctor" class="btn btn-primary">
        <img class="card-img-top" src="assets/images/banner/doctor-banner.jpg" alt="Doctor - Register">
        <div class="card-body">
          <h5 class="card-title">Doctor Registration</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a routerLink="hospital" class="btn btn-primary">
        <img class="card-img-top" src="assets/images/banner/hospital-banner.jpg" alt="Hospital - Register">
        <div class="card-body">
          <h5 class="card-title">Hospital Registration</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>