<div class="row bg-white has-shadow">
    <!-- Item -->
    <div class="col-xl-3 col-sm-6">
      <div class="item d-flex align-items-center">
        <div class="icon bg-violet"><i class="icon-user"></i></div>
        <div class="title"><span>View<br>Bio Information</span>
        </div>
        <div><button type="button" routerLink="bio-info" class="btn btn-primary btn-sm" style="font-weight: 200;">Information ></button></div>
      </div>
    </div>
    <!-- Item -->
    <div class="col-xl-3 col-sm-6">
      <div class="item d-flex align-items-center">
        <div class="icon bg-red"><i class="icon-padnote"></i></div>
        <div class="title"><span>View<br>Measurements</span>
        </div>
        <div><button type="button" routerLink="measurements" class="btn btn-primary btn-sm" style="font-weight: 200;">Measurements ></button></div>
      </div>
    </div>
    <!-- Item -->
    <div class="col-xl-3 col-sm-6">
      <div class="item d-flex align-items-center">
        <div class="icon bg-green"><i class="icon-bill"></i></div>
        <div class="title"><span>View<br>Reports</span>
        </div>
        <div><button type="button" class="btn btn-primary btn-sm" style="font-weight: 200;">Reports ></button></div>
      </div>
    </div>
    <!-- Item -->
    <div class="col-xl-3 col-sm-6">
      <div class="item d-flex align-items-center">
        <div class="icon bg-orange"><i class="icon-check"></i></div>
        <div class="title"><span>View<br>Vaccinations</span>
        </div>
        <div><button type="button" class="btn btn-primary btn-sm" style="font-weight: 200;">Vaccinations ></button></div>
      </div>
    </div>
  </div>

  <div class="row bg-white has-shadow">
    <!-- Item -->
    <div class="col-xl-3 col-sm-6">
      <div class="item d-flex align-items-center">
        <div class="icon bg-violet"><i class="icon-user"></i></div>
        <div class="title"><span>View<br>Medication</span>
        </div>
        <div><button type="button" class="btn btn-primary btn-sm" style="font-weight: 200;">Medications ></button></div>
      </div>
    </div>
    <!-- Item -->
    <div class="col-xl-3 col-sm-6">
      <div class="item d-flex align-items-center">
        <div class="icon bg-red"><i class="icon-padnote"></i></div>
        <div class="title"><span>View<br>Critical Illness</span>
        </div>
        <div><button type="button" class="btn btn-primary btn-sm" style="font-weight: 200;">Critical Illnesses ></button></div>
      </div>
    </div>
  </div>