<app-header></app-header>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Select Preffered Language
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item">Sinhala</a>
    <a class="dropdown-item">Tamil</a>
    <a class="dropdown-item">English</a>
  </div>
</div>

<div>
  <div class="col-md-5 p-lg-5 mx-auto my-5" style="float: left;">
    <div style="margin-left: 40%;">
      <h1 class="display-4 font-weight-normal">iCare</h1>
      <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with
        this example based on Apple’s marketing pages.</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
  </div>
  <img src="assets/images/back.jpg" style="float: right;" />
</div>


<div class="container">
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" style="margin-bottom: 10%;">
    <app-hospital-login></app-hospital-login>
    <app-user-login></app-user-login>
  </div>
</div>

<div style="background-color: rgb(172, 169, 169);">

  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" style="width:800px; margin:0 auto;">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="10000">
        <img src="assets/images/caro-1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/images/caro-2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="assets/images/caro-3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <app-news-feed></app-news-feed>
</div>

<app-footer></app-footer>