<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="topnav">
                <a class="active" href="#home">HeaderNavigation</a>
              </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    Background Image Banner
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-recent-login></app-recent-login>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-hospital-login></app-hospital-login>
        </div>
        <div class="col-md-6">
            <app-user-login></app-user-login>
        </div>
    </div>
    <div class="row">
        Footer here
    </div>
</div>
