<div class="row bg-white has-shadow">
  <!-- Item -->
  <div class="col-xl-3 col-sm-6">
    <div class="item d-flex align-items-center">
      <a class="portfolio-item" routerLink="../bio-info">
        <span class="caption">
          <span class="caption-content">
            <div><button type="button" routerLink="../bio-info" class="btn btn-primary btn-sm" style="font-weight: 200;">View Bio Information ></button></div>
            <h2 style="font-size: medium;color: white;margin-top: 15px;">Bio-Information</h2>
          </span>
        </span>
        <img class="img-fluid" src="assets/images/portfolio-4.jpg" alt="">
      </a>
    </div>
  </div>
  <!-- Item -->
  <div class="col-xl-3 col-sm-6">
    <div class="item d-flex align-items-center">
      <a class="portfolio-item" routerLink="../measurements">
        <span class="caption">
          <span class="caption-content">
            <div><button type="button" routerLink="../measurements" class="btn btn-primary btn-sm" style="font-weight: 200;">View Measurement Info ></button></div>
            <h2 style="font-size: medium;color: white;margin-top: 15px;">Measurement Info</h2>
          </span>
        </span>
        <img class="img-fluid" src="assets/images/portfolio-3.jpg" alt="">
      </a>
    </div>
  </div>
  <!-- Item -->
  <div class="col-xl-3 col-sm-6">
    <div class="item d-flex align-items-center">
      <a class="portfolio-item" routerLink="../reports">
        <span class="caption">
          <span class="caption-content">
            <div><button type="button" routerLink="../reports" class="btn btn-primary btn-sm" style="font-weight: 200;">View Reports ></button></div>
            <h2 style="font-size: medium;color: white;margin-top: 15px;">Reports</h2>
          </span>
        </span>
        <img class="img-fluid" src="assets/images/portfolio-11.jpg" alt="">
      </a>
    </div>
  </div>
  <!-- Item -->
  <div class="col-xl-3 col-sm-6">
    <div class="item d-flex align-items-center">
      <a class="portfolio-item" routerLink="../vaccinations">
        <span class="caption">
          <span class="caption-content">
            <div><button type="button" routerLink="../vaccinations" class="btn btn-primary btn-sm" style="font-weight: 200;">View Vaccinations ></button></div>
            <h2 style="font-size: medium;color: white;margin-top: 15px;">Vaccinations</h2>
          </span>
        </span>
        <img class="img-fluid" src="assets/images/portfolio-3.jpg" alt="">
      </a>
    </div>
  </div>
</div>

<div class="row bg-white has-shadow">
  <!-- Item -->
  <div class="col-xl-3 col-sm-6">
    <div class="item d-flex align-items-center">
      <a class="portfolio-item" routerLink="../medication">
        <span class="caption">
          <span class="caption-content">
            <div><button type="button" routerLink="../medication" class="btn btn-primary btn-sm" style="font-weight: 200;">View Medication ></button></div>
            <h2 style="font-size: medium;color: white;margin-top: 15px;">Medication</h2>
          </span>
        </span>
        <img class="img-fluid" src="assets/images/portfolio-4.jpg" alt="">
      </a>
    </div>
  </div>
  <!-- Item -->
  <div class="col-xl-3 col-sm-6">
    <div class="item d-flex align-items-center">
      <a class="portfolio-item" routerLink="../illnesses">
        <span class="caption">
          <span class="caption-content">
            <div><button type="button" routerLink="../illnesses" class="btn btn-primary btn-sm" style="font-weight: 200;">View Illnesses ></button></div>
            <h2 style="font-size: medium;color: white;margin-top: 15px;">Illnesses</h2>
          </span>
        </span>
        <img class="img-fluid" src="assets/images/portfolio-11.jpg" alt="">
      </a>
    </div>
  </div>
</div>
