<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
        <h2 class="display-5">News Feed</h2>
        <p class="lead">Dynamic News Feedbacks and images</p>
    </div>
    <div class="bg-white shadow-sm mx-auto" style="width: 90%; border-radius: 21px 21px 0 0;">
        <div class="card mb-3">
            <div class="card-body">
            <h5 class="card-title">News 1</h5>
            <p class="card-text">News Description</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div> 
        <div class="card mb-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">News 2</h5>
            <p class="card-text">News Description</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">News 3</h5>
            <p class="card-text">News Description</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>