<!-- <app-header></app-header> -->
<div class="page">
  <!-- Main Navbar-->
  <header class="header">
    <nav class="navbar navbar-expand">
      <!-- Topbar Navbar -->
      <div class="navbar-logo">
        <img class="img-profile" style="width: 60px;" src="assets/images/logo.jpeg">
        <span style="padding-left:80px;">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon">
              <i>
                <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                </svg>
              </i>
            </a>
          </div>
        </span>
      </div>
      
      <ul class="navbar-nav ml-auto">
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow" style="margin-right: 20px;">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img class="img-profile rounded-circle" style="width: 50px;margin-right: 8px;" src="assets/images/user-icon.png">
            <span><p>Admin</p></span>
          </a>
          
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">
              My Profile
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              Add Dependent  
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              Settings
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
              Logout
            </a>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    <nav class="side-navbar">
      <!-- Sidebar Header-->
      <div class="sidebar-header d-flex align-items-center">
       <div class="title">
          <h1 class="h4" style="color: white;">The Cure Hub</h1>
        </div>
      </div>
      <ul class="list-unstyled">
        <li class="static-li">  My Anamnesis  </li>
        <li class="active"><a [routerLink]="'../' + routerLink + 'dashboard'"><i class="icon-home"></i>Dashboard</a></li>
        <li><a [routerLink]="'settings'"> <i class="fa fa-bar-chart"></i>Settings </a></li>
      </ul>
    </nav>
    <div class="content-inner">
      <header class="page-header">
        <div class="container-fluid">
          <h4 class="no-margin-bottom">My Anamnesis - PIN- XXXX </h4> 
          <span> Home > Dashboard </span>
        </div>
      </header>
      <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
          <router-outlet> </router-outlet>
        </div>
      </section>
    </div>
  </div>
</div>
