<div class="row bg-white has-shadow">
  <!-- Item -->
  <div class="col-xl-3 col-sm-6">
    <div class="item d-flex align-items-center">
      <a class="portfolio-item" routerLink="../bio-info">
        <span class="caption">
          <span class="caption-content">
            <div><button type="button" routerLink="../bio-info" class="btn btn-primary btn-sm" style="font-weight: 200;">View Bio Information ></button></div>
            <h2 style="font-size: medium;color: white;margin-top: 15px;">Bio Information</h2>
          </span>
        </span>
        <img class="img-fluid" src="assets/images/portfolio-4.jpg" alt="">
      </a>
    </div>
  </div>
  <!-- Item -->
  <div class="col-xl-3 col-sm-6">
    <div class="item d-flex align-items-center">
      <a class="portfolio-item" routerLink="../pmic">
        <span class="caption">
          <span class="caption-content">
            <div><button type="button" routerLink="../pmic" class="btn btn-primary btn-sm" style="font-weight: 200;">View PMIC ></button></div>
            <h2 style="font-size: medium;color: white;margin-top: 15px;">PMIC</h2>
          </span>
        </span>
        <img class="img-fluid" src="assets/images/portfolio-3.jpg" alt="">
      </a>
    </div>
  </div>
  <!-- Item -->
  <div class="col-xl-3 col-sm-6">
    <div class="item d-flex align-items-center">
      <a class="portfolio-item" routerLink="../drugs">
        <span class="caption">
          <span class="caption-content">
            <div><button type="button" routerLink="../drugs" class="btn btn-primary btn-sm" style="font-weight: 200;">View My Drugs ></button></div>
            <h2 style="font-size: medium;color: white;margin-top: 15px;">My Drugs</h2>
          </span>
        </span>
        <img class="img-fluid" src="assets/images/portfolio-11.jpg" alt="">
      </a>
    </div>
  </div>
  <!-- Item -->
  <div class="col-xl-3 col-sm-6">
    <div class="item d-flex align-items-center">
      <a class="portfolio-item" routerLink="../prescription">
        <span class="caption">
          <span class="caption-content">
            <div><button type="button" routerLink="../prescription" class="btn btn-primary btn-sm" style="font-weight: 200;">View Digital Prescription ></button></div>
            <h2 style="font-size: medium;color: white;margin-top: 15px;">Digital Prescription</h2>
          </span>
        </span>
        <img class="img-fluid" src="assets/images/portfolio-3.jpg" alt="">
      </a>
    </div>
  </div>
</div>

<div class="row bg-white has-shadow">
  <!-- Item -->
  <div class="col-xl-3 col-sm-6">
    <div class="item d-flex align-items-center">
      <a class="portfolio-item" routerLink="../user-management">
        <span class="caption">
          <span class="caption-content">
            <div><button type="button" routerLink="../user-management" class="btn btn-primary btn-sm" style="font-weight: 200;">View User Management ></button></div>
            <h2 style="font-size: medium;color: white;margin-top: 15px;">User Management</h2>
          </span>
        </span>
        <img class="img-fluid" src="assets/images/portfolio-4.jpg" alt="">
      </a>
    </div>
  </div>
  <!-- Item -->
</div>
